<ion-content>
  <div class="container mt-2 text-center">
    <fieldset>
        <legend>Registro de viagem</legend>
      <form>
        <div class="form-group">
          <label class="sr-only">País</label>
          <input type="text" class="form-control" placeholder="País">
        </div>
        <div class="form-group">
          <label class="sr-only">Local</label>
          <input type="text" class="form-control" placeholder="Local">
        </div>
        <div class="form-group">
          <label class="sr-only">imagem</label>
          <input type="url" class="form-control" placeholder="Imagem">
        </div>
        <div class="form-group">
          <label class="sr-only">Descrição</label>
          <textarea class="form-control" placeholder="Descrição" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-dark">Registrar</button>
        </div>
      </form>
    </fieldset>
  </div>
</ion-content>
